bokeh
celery
channels
channels_redis
coreapi
django
django-auth-ldap
django-bootstrap4
django-celery-beat
django-celery-results
django-extensions
django-fa
django-filter
django-health-check
djangorestframework
drf-yasg[validation]
gunicorn
markdown
psycopg2-binary
pydotplus
pygments
redis
